---
layout: default
---

<body id="home" class="bg-light mb-5 pb-5">
  <div class="container-fluid bg-light">
    <header id="main-header">
      <div class="row">
        <div class="col-md-4 responsive-image">
          <img src="assets/img/kevin.jpg" alt="" />
        </div>
        <div class="col-md-8 align-self-center">
          <nav
            class="navbar navbar-expand-md navbar-light bg-light"
            id="main-nav"
          >
            <a href="/" class="navbar-brand"><h2>Kevin Exton</h2></a>
            <button
              class="navbar-toggler"
              data-toggle="collapse"
              data-target="#navbarCollapse"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav m-auto">
                <li class="nav-item">
                  <a href="{{ site.baseurl}}/#work-header" class="nav-link">Work</a>
                </li>
                <li class="nav-item">
                  <a href="{{ site.baseurl}}/#projects-header" class="nav-link">Projects</a>
                </li>
                <li class="nav-item">
                  <a href="{{ site.baseurl}}/#education-header" class="nav-link">Education</a>
                </li>
                <li class="nav-item">
                  <a href="{{ site.baseurl}}/blog.html" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                  <a href="{{ site.baseurl}}/contact.html" class="nav-link">Contact</a>
                </li>
              </ul>
            </div>
          </nav>

          <p class="lead">
            I'm a graduate computer engineer who wants to find technical
            solutions to today's problems. Read about what I'm doing over at my
            <a href="{{ site.baseurl }}/blog.html" id="bio-blog-anchor">blog</a>.
          </p>
          <div class="row no-gutters">
            <div class="col-sm-3"></div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
              <a href="https://linkedin.com/in/kevin-exton-97882015a"
                ><span class="fab fa-linkedin fa-2x"></span
              ></a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- WORK HEADER -->
    <section id="work-header">
      <div class="row text-white bg-primary py-3">
        <div class="col text-center"><h2>Work</h2></div>
      </div>
    </section>

    <!-- WORK -->
    <section id="work">
      <div class="row">
        <div class="col bg-light mt-5">
          <h3>
            Where Have I Worked?
          </h3>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-sm-12">
          <div class="list-group mt-3">
            <a
              href="#EricssonGraduateModal"
              class="list-group-item list-group-item-action text-center"
              data-toggle="modal"
            >
              Ericsson: Graduate Integration Engineer, Feb 2019 &ndash;
            </a>
            <a
              href="#TelstraInternModal"
              class="list-group-item list-group-item-action text-center"
              data-toggle="modal"
            >
              Telstra: Summer Intern, Nov 2017 &ndash; Feb 2018
            </a>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </section>

    <!-- WORK MODALS -->
    <!-- Ericsson Graduate Modal -->
    {% include modals.html id="EricssonGraduateModal" title="Ericsson, Feb 2019
    &ndash;" heading="Position: Graduate Integration Engineer" description="Currently I 
    am working as a graduate integration engineer for Ericsson, the role 
    primarily involves post sales delivery of Ericsson products in the Telstra 
    Mobility team." %}

    <!-- Telstra Intern Modal -->
    {% include modals.html id="TelstraInternModal" title="Telstra, Nov 2017
    &ndash; Feb 2018" heading="Position: Summer Intern"
    description="Worked as part of the Broadsoft Trunking and Product
    Engineering team. As the intern I developed an internal web-app that
    displayed statistics about server configurations to help with the automation
    of the VoIP products." %}

    <!-- PROJECTS HEADER -->
    <section id="projects-header">
      <div class="row text-white bg-primary py-3">
        <div class="col text-center"><h2>Projects</h2></div>
      </div>
    </section>

    <!-- PROJECTS -->
    <section id="projects">
      <div class="row">
        <div class="col bg-light mt-5">
          <h3>
            What Have I Worked On?
          </h3>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-sm-12">
          <div class="list-group">
            <a
              href="#KevinAsAServiceModal"
              class="list-group-item list-group-item-action text-center"
              data-toggle="modal"
            >
              Kevin As A Service (Hobby), 2019
            </a>
            <a
              href="#FinalYearProjectModal"
              class="list-group-item list-group-item-action text-center"
              data-toggle="modal"
            >
              Final Year Project, 2018
            </a>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </section>

    <!-- Project Modals -->
    <!-- FYP Modal -->
    {% include modals.html id="FinalYearProjectModal" title="Final Year Project"
    heading="" description="Dr. Gayathri Kongara at Monash University supervised
    a project where I studied adaptive signal processing techniques to track
    distortions introduced by the multipath wireless channel and equalise them.
    The majority of the project was done in simulation with the assistance of
    MATLAB and a prototype was developed on a National Instruments Software
    Defined Radio as a proof of concept." %}

    {% include modals.html id="KevinAsAServiceModal" 
    title="Kevin As A Service" heading="Hobby project involving Angular, 
    Firebase, and Google's oAuth2 playground" description="Developed an Angular web app 
    with a firebase backend <a href='https://sendgridmail-228a0.web.app'>here</a> so that people can 
    contact me via web form. Read my blog post about it." %}

    <!-- EDUCATION HEADER -->
    <section id="education-header">
      <div class="row text-white bg-primary py-3">
        <div class="col text-center"><h2>Education</h2></div>
      </div>
    </section>

    <!-- EDUCATION -->
    <section id="projects">
      <div class="row">
        <div class="col bg-light mt-5">
          <h3>
            Where Have I Studied?
          </h3>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-sm-12">
          <div class="list-group mt-3">
            <a
              href="#MonashUniversityModal"
              class="list-group-item list-group-item-action text-center"
              data-toggle="modal"
            >
              Monash University, 2015 &ndash; 2018
            </a>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </section>

    <!-- Education Modals -->
    {% include modals.html id="MonashUniversityModal" 
    title="Degree: Bachelor of Computer Systems Engineering (Honours)"
    heading="" description="A healthy mix of electronics engineering and software
    engineering. Heavy focus on embedded systems related
    technology, FPGA's, and RToS's, as well as communications related technology, i.e. signal
    processing, wireless communication, optical communication. The
    degree included some analogue electronics and control systems." %}

  <footer id="main-footer" class="fixed-bottom mb-5">
    <a href="#home" class="btn btn-outline-info rounded-circle return-home"
      ><span class="fas fa-angle-up fa-2x text-dark"></span
    ></a>
  </footer>

  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"
  ></script>

  <script>
    // Smooth Scrolling
    $("#main-nav a").on("click", function(e) {
      if (this.hash !== "") {
        e.preventDefault();

        const hash = this.hash;

        $("html, body").animate(
          {
            scrollTop: $(hash).offset().top
          },
          600,
          function() {
            window.location.hash = hash;
          }
        );
      }
    });

    // Smooth Scrolling
    $(".return-home").on("click", function(e) {
      if (this.hash !== "") {
        e.preventDefault();

        const hash = this.hash;

        $("html, body").animate(
          {
            scrollTop: $(hash).offset().top
          },
          600,
          function() {
            window.location.hash = hash;
          }
        );
      }
    });

    // Return Home
    $(document).scroll(function() {
      var pos = $("#work-header").offset().top;
      var y = $(this).scrollTop();
      if (y > pos - 1) {
        $(".return-home").fadeIn(200);
      } else {
        $(".return-home").fadeOut(200);
      }
    });
  </script>
</body>
